[
    (
        uid: (71),
        xyz: (192.0, 144.0, 6.0),
        sprite: None,
    ),
    (
        uid: (70),
        xyz: (110.0, 176.0, 4.0),
        sprite: Some((
            image: "ldtk/../sprites/characters/knight.png",
            atlas: Layout((
                size: (256, 256),
                textures: [
                    (
                        min: (0, 0),
                        max: (32, 32),
                    ),
                    (
                        min: (32, 0),
                        max: (64, 32),
                    ),
                    (
                        min: (64, 0),
                        max: (96, 32),
                    ),
                    (
                        min: (96, 0),
                        max: (128, 32),
                    ),
                    (
                        min: (128, 0),
                        max: (160, 32),
                    ),
                    (
                        min: (160, 0),
                        max: (192, 32),
                    ),
                    (
                        min: (192, 0),
                        max: (224, 32),
                    ),
                    (
                        min: (224, 0),
                        max: (256, 32),
                    ),
                    (
                        min: (0, 32),
                        max: (32, 64),
                    ),
                    (
                        min: (32, 32),
                        max: (64, 64),
                    ),
                    (
                        min: (64, 32),
                        max: (96, 64),
                    ),
                    (
                        min: (96, 32),
                        max: (128, 64),
                    ),
                    (
                        min: (128, 32),
                        max: (160, 64),
                    ),
                    (
                        min: (160, 32),
                        max: (192, 64),
                    ),
                    (
                        min: (192, 32),
                        max: (224, 64),
                    ),
                    (
                        min: (224, 32),
                        max: (256, 64),
                    ),
                    (
                        min: (0, 64),
                        max: (32, 96),
                    ),
                    (
                        min: (32, 64),
                        max: (64, 96),
                    ),
                    (
                        min: (64, 64),
                        max: (96, 96),
                    ),
                    (
                        min: (96, 64),
                        max: (128, 96),
                    ),
                    (
                        min: (128, 64),
                        max: (160, 96),
                    ),
                    (
                        min: (160, 64),
                        max: (192, 96),
                    ),
                    (
                        min: (192, 64),
                        max: (224, 96),
                    ),
                    (
                        min: (224, 64),
                        max: (256, 96),
                    ),
                    (
                        min: (0, 96),
                        max: (32, 128),
                    ),
                    (
                        min: (32, 96),
                        max: (64, 128),
                    ),
                    (
                        min: (64, 96),
                        max: (96, 128),
                    ),
                    (
                        min: (96, 96),
                        max: (128, 128),
                    ),
                    (
                        min: (128, 96),
                        max: (160, 128),
                    ),
                    (
                        min: (160, 96),
                        max: (192, 128),
                    ),
                    (
                        min: (192, 96),
                        max: (224, 128),
                    ),
                    (
                        min: (224, 96),
                        max: (256, 128),
                    ),
                    (
                        min: (0, 128),
                        max: (32, 160),
                    ),
                    (
                        min: (32, 128),
                        max: (64, 160),
                    ),
                    (
                        min: (64, 128),
                        max: (96, 160),
                    ),
                    (
                        min: (96, 128),
                        max: (128, 160),
                    ),
                    (
                        min: (128, 128),
                        max: (160, 160),
                    ),
                    (
                        min: (160, 128),
                        max: (192, 160),
                    ),
                    (
                        min: (192, 128),
                        max: (224, 160),
                    ),
                    (
                        min: (224, 128),
                        max: (256, 160),
                    ),
                    (
                        min: (0, 160),
                        max: (32, 192),
                    ),
                    (
                        min: (32, 160),
                        max: (64, 192),
                    ),
                    (
                        min: (64, 160),
                        max: (96, 192),
                    ),
                    (
                        min: (96, 160),
                        max: (128, 192),
                    ),
                    (
                        min: (128, 160),
                        max: (160, 192),
                    ),
                    (
                        min: (160, 160),
                        max: (192, 192),
                    ),
                    (
                        min: (192, 160),
                        max: (224, 192),
                    ),
                    (
                        min: (224, 160),
                        max: (256, 192),
                    ),
                    (
                        min: (0, 192),
                        max: (32, 224),
                    ),
                    (
                        min: (32, 192),
                        max: (64, 224),
                    ),
                    (
                        min: (64, 192),
                        max: (96, 224),
                    ),
                    (
                        min: (96, 192),
                        max: (128, 224),
                    ),
                    (
                        min: (128, 192),
                        max: (160, 224),
                    ),
                    (
                        min: (160, 192),
                        max: (192, 224),
                    ),
                    (
                        min: (192, 192),
                        max: (224, 224),
                    ),
                    (
                        min: (224, 192),
                        max: (256, 224),
                    ),
                    (
                        min: (0, 224),
                        max: (32, 256),
                    ),
                    (
                        min: (32, 224),
                        max: (64, 256),
                    ),
                    (
                        min: (64, 224),
                        max: (96, 256),
                    ),
                    (
                        min: (96, 224),
                        max: (128, 256),
                    ),
                    (
                        min: (128, 224),
                        max: (160, 256),
                    ),
                    (
                        min: (160, 224),
                        max: (192, 256),
                    ),
                    (
                        min: (192, 224),
                        max: (224, 256),
                    ),
                    (
                        min: (224, 224),
                        max: (256, 256),
                    ),
                ],
            )),
        )),
    ),
    (
        uid: (75),
        xyz: (64.0, 96.0, 4.0),
        sprite: Some((
            image: "ldtk/../sprites/tilesets/Inca_front_by_Kronbits-extended.png",
            atlas: Rect((
                min: (32.0, 80.0),
                max: (64.0, 96.0),
            )),
        )),
    ),
]