(spawn_rate:0.15,spawn_amount:67,emission_shape:Point,lifetime:(0.5,0.25),linear_speed:Some((77.0,0.25)),linear_acceleration:Some((0.0,0.0)),direction:Some(((0.0,0.0),1.0)),angular_speed:None,angular_acceleration:None,scale:Some((1.0,0.45)),color:None,gravity_direction:Some(((0.0,-0.65),0.0)),gravity_speed:Some((177.0,0.0)),linear_damp:Some((0.0,0.0)),angular_damp:None,scale_curve:None,color_curve:None)