(spawn_rate:0.05,spawn_amount:1,emission_shape:Point,lifetime:(0.2,0.12),linear_speed:Some((268.0,0.1)),linear_acceleration:Some((0.0,0.0)),direction:Some(((0.0,0.8),0.1)),angular_speed:Some((0.0,0.0)),angular_acceleration:Some((0.0,0.0)),scale:Some((2.0,0.5)),color:None,gravity_direction:Some(((0.0,0.0),0.0)),gravity_speed:Some((0.0,0.0)),linear_damp:Some((0.0,0.0)),angular_damp:Some((0.0,0.0)),scale_curve:None,color_curve:Some((points:[((red:1.0,green:1.0,blue:1.0,alpha:1.0),0.0,None),((red:0.045754988,green:0.045754988,blue:0.045754988,alpha:1.0),0.3,None),((red:1.0,green:0.0,blue:0.0,alpha:1.0),1.0,None)])))